*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100%;
  background: #0f2027; // fallback
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.form {
  &__label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0);
  }

  &__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: #fff;
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;

    &:placeholder-shown + .form__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem);
    }
  }
}
.App{
    font-size: 2.2em;
    line-height: 2.1;

    h1{
      font-size: 4em;
      background-color: rgb(255 255 255);
      color: #193038;
      height: 107px;
      width: 407px;
      margin-bottom: 10px;
      padding: 20px;
    }
}

/* CSS */
.Button {
align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #a7b4b9 0, #1b333b 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 34px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 11px;
    margin-top: 12px;
}

.Button:focus {
  box-shadow: rgb(36 66 77) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(36 66 77) 0 -3px 0 inset;
}

.Button:hover {
    box-shadow: rgb(36 66 77) 0 4px 8px, rgb(36 66 78) 0 7px 13px -3px, #465b64 0 -3px 0 inset;
    transform: translateY(-2px);
}


.Button:active {
  box-shadow: #465b64 0 3px 7px inset;
  transform: translateY(2px);
}

